@model new_websub.ViewModels.ResetpasswordForm
@{
    ViewData["Title"] = "ResetPassword";
}

<h2>Reset Password</h2>
<div class="container">

    <div class="col-md-4">
        @if(ViewBag.message != null)
        {
            <div class="alert alert-danger">
                @ViewBag.message
            </div>
        }
        <form asp-action="ResetPassword">
            <input asp-for="Email" type="hidden" />
            <input asp-for="token" type="hidden" />
           
            <div class="form-group">
                <label asp-for="NewPassword">New Password</label>
                <input asp-for="NewPassword" class="form-control" required type="password"/>
            </div>

            <div class="form-group">
                <label asp-for="NewPasswordConfirm">Confirm New Password</label>
                <input asp-for="NewPasswordConfirm" class="form-control" required type="password"/>
            </div>

            <div class="form-group">
                <input type="submit" class="btn btn-primary" value="Reset" />
            </div>
        </form>
    </div>
</div>
